
<!DOCTYPE html>
<html lang="ru">
<head>

    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("CssPartial")

    <!-- Favicon -->
    <link rel="icon" href="/images/img/ico.png">
</head>
<body>
    @await Html.PartialAsync("HeaderPartial")
    @RenderBody()

    

        @await Html.PartialAsync("FooterPartial")
  
    @await Html.PartialAsync("ScriptsPartial")


</body>
</html>