 
@model TextField
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeywords;
}
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <!-- Section Heading -->
                <div class="ftco-section-heading text-center">
                    <h2>Наши услуги</h2>
                </div>
            </div>
            <div class="col-md-3 ftco-animate">
                <div class="media d-block text-center block-6 services">
                    <div class="icon d-flex mb-3"><img src="~/images/img/icons/haircut.png" alt="Стрижка"></div>
                    <div class="media-body">
                        <h3 class="heading">Парикмахерские услуги</h3>

                    </div>
                </div>
            </div>
            <div class="col-md-3 ftco-animate">
                <div class="media d-block text-center block-6 services">
                    <div class="icon d-flex mb-3"><img src="images/img/icons/brow.png" alt="Брови"></div>
                    <div class="media-body">
                        <h3 class="heading">Брови</h3>

                    </div>
                </div>
            </div>
            <div class="col-md-3 ftco-animate">
                <div class="media d-block text-center block-6 services">
                    <div class="icon d-flex mb-3"><img src="images/img/icons/lash.png" alt="Стрижка"></div>
                    <div class="media-body">
                        <h3 class="heading">Lash bar</h3>

                    </div>
                </div>
            </div>
            <div class="col-md-3 ftco-animate">
                <div class="media d-block text-center block-6 services">
                    <div class="icon d-flex mb-3"><img src="images/img/icons/nail.png" alt="ногти"></div>
                    <div class="media-body">
                        <h3 class="heading">Ногтевой сервис</h3>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="ftco-section ftco-discount img" style="background-image: url(images/img/uploads/2021/01/fon-768x432.jpg);">
    <div class="overlay"></div>

    <div class="container">

        <div class="row justify-content-start">
            <div class="col-md-5 discount ftco-animate">
                <h3>
                    Сэкономьте до 10%
                </h3>
                <h2 class="mb-4">Электронный кошелек</h2>
                <p class="mb-4">Получите обратно 10% с кажлого посещения на электронный кошелек.</p>
                <p><a href="https://widget.sonline.su/ru/services/?placeid=998613600" class="btn btn-white btn-outline-white px-4 py-3">Записаться</a></p>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4">Наши работы</h2>
                <p>В Имидж лаборатории ВАШ-СТИЛЬ ваш ждет чудесное преображение</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 ftco-animate">
                <a href="#" class="work-entry">
                    <img src="images/img/work/haircut16.jpg" class="img-fluid" alt="Colorlib Template">
                    <div class="info d-flex align-items-center">
                        <div>
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                                <span class="icon-search"></span>
                            </div>
                            <h3>Lips Makeover</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 ftco-animate">
                <a href="#" class="work-entry">
                    <img src="images/img/work//manicure5.jpg" class="img-fluid" alt="Colorlib Template">
                    <div class="info d-flex align-items-center">
                        <div>
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                                <span class="icon-search"></span>
                            </div>
                            <h3>Hair Style</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 ftco-animate">
                <a href="#" class="work-entry">
                    <img src="images/img/work/brows1-768x750.jpg" class="img-fluid" alt="Colorlib Template">
                    <div class="info d-flex align-items-center">
                        <div>
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                                <span class="icon-search"></span>
                            </div>
                            <h3>Makeup</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="ftco-partner bg-light ">
    <div class="container">
        <div class="row partner justify-content-center">

            <div class="row">
                <div class=" col-md-3 ftco-animate">
                    <a href="#" class="partner-entry">
                        <img src="images/img/kerastase.png" class="img-fluid" alt="Colorlib template">
                    </a>
                </div>
                <div class=" col-md-3 ftco-animate">
                    <a href="#" class="partner-entry">
                        <img src="images/img/pertner2.jpg" class="img-fluid" alt="Colorlib template">
                    </a>
                </div>
                <div class=" col-md-3 ftco-animate">
                    <a href="#" class="partner-entry">
                        <img src="images/img/partner3.png" class="img-fluid" alt="Colorlib template">
                    </a>
                </div>
                <div class=" col-md-3 ftco-animate">
                    <a href="#" class="partner-entry">
                        <img src="images/img/partner4.png" class="img-fluid" alt="Colorlib template">
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="ftco-partner bg-light">
    <div class="container">
        <div class="row partner justify-content-center">

            <div class="row">
                <div class=" col-md-3 ftco-animate">
                    <a href="#" class="partner-entry">
                        <img src="images/img/partner11.png" class="img-fluid" alt="Colorlib template">
                    </a>
                </div>
                <div class=" col-md-3 ftco-animate">
                    <a href="#" class="partner-entry">
                        <img src="images/img/partner7.png" class="img-fluid" alt="Colorlib template">
                    </a>
                </div>
                <div class=" col-md-3 ftco-animate">
                    <a href="#" class="partner-entry">
                        <img src="images/img/pertner8.jpg" class="img-fluid" alt="Colorlib template">
                    </a>
                </div>
                <div class=" col-md-3 ftco-animate">
                    <a href="#" class="partner-entry">
                        <img src="images/img/partner5.png" class="img-fluid" alt="Colorlib template">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>






<section class="ftco-section ftco-appointment">
    <div class="overlay"></div>
    <div class="container">
        <div class="row d-md-flex align-items-center">
            <div class="col-md-2"></div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="appointment-info text-center p-5">
                    <div class="mb-4">
                        <h3 class="mb-3">Адресс</h3>
                        <p>	 Москва, Сколово-Мещерская ул., 2</p>
                    </div>
                    <div class="mb-4">
                        <h3 class="mb-3">Телефон</h3>
                        <p class="day"><strong><a class=" stil-btn" href="tel:+79164111220">  <i class="fa fa-phone" aria-hidden="true"></i>   +7(916)411-12-20 </a></strong> </p>
                    </div>
                    <div>
                        <h3 class="mb-3">График работы</h3>
                        <p class="day"><strong>Ежедневно</strong></p>
                        <span>10:00-22:00</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 appointment pl-md-5 ftco-animate">
                <h3 class="mb-3"><a href="https://widget.sonline.su/ru/services/?placeid=998613600">Записаться онлайн <i class="arrow right"></i></a> </h3>
                <p>Выберите удобное для Вас время и процедуру. Наш администратор перезвонит Вам для уточнения деталей.</p>
            </div>
        </div>
    </div>
</section>
